.App {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

img {
  width: 20px;
  height: 20px;
}

.cart {
  width: 50%;
}

.cart li:first-of-type {
  border: 1px solid #ddd;
}

.qty {
  padding: 0.5em;
  margin: 0 0.5em;
  border: 1px solid #ddd;
}

button {
  border: none;
  background-color: white;
  cursor: pointer;
}

.cart li {
  list-style: none;

  padding: 1em;
  margin-bottom: 0.5em;
}

.items {
  display: flex;
}

.info {
  display: flex;

}

.info span {
  margin: 0 1em;
}

.price {
  width: 10%;
}

.close {
  float: right;
  cursor: pointer;
}

.total {
  border: 1px solid #ddd;
  width: 300px;
  padding: 0 1em;
}

.total p:last-of-type {
  font-weight: bold;
  background-color: #ddd;
  padding: 0.5em;
}

@media (max-width:450px) {
  .App {
    flex-direction: column;
    align-items: center;
  }
}